@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');


:root {
    --primary-clr: #121212;
    --secondary-clr: rgb(33, 4, 167);
    --tertiary-clr: #000000;
    --white-clr: rgba(255, 255, 255, 0.701);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

body {
    font-family: 'Lato', sans-serif;
    height: 100vh;
    background-color: var(--tertiary-clr);
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.header-container {
    display: flex;
    justify-content: space-around;
    background-color: var(--primary-clr);
    padding: .5em;
    border-radius: 0 0 1em 1em;
}

.header-container a {
    color: white;
}

.header-container a:hover {
    color: var(--secondary-clr);
    transition: color .4s ease-out;
}

.header-container h2 {
    font-weight: 700;
}

.header-container .social-links {
    display: flex;
    gap: 2em;
    font-size: 1.2em;
}

.main-grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: .5em;
    grid-gap: .6em;
}

.sidebar-container {
    grid-column: 1/2;
    grid-row: 1/2;
    display: grid;
    grid-template-rows: .5fr 1fr 1fr 1fr;
    grid-gap: .7em;
    height: 75vh;
}

.sidebar-container>* {
    background-color: var(--primary-clr);
}

.hero-container {
    grid-column: 2/4;
    grid-row: 1/2;
    background-color: var(--primary-clr);
    border-radius: .5em;
    max-height: 75vh;
}

.top-sidebar-item {
    grid-row: 1/2;
    border-radius: .5em;
    padding: 1.3em;
}

.top-sidebar-ul {
    display: flex;
    gap: 2em;
    flex-direction: column;
}

.top-sidebar-ul a {
    display: block;
    font-weight: bold;
    font-size: .9em;
    color: white;
}

.top-sidebar-ul a:hover {
    color: rgba(255, 255, 255, 0.701);
    transition-property: color;
    transition-duration: .4s;
}

.top-sidebar-ul i {
    margin-inline-end: 1em;
    font-size: 1.3em;
}

.bottom-sidebar-item {
    border-radius: .5em;
    grid-row: 2/5;
    display: flex;
    flex-direction: column;
}

.bottom-sidebar-item-header {
    display: flex;
    align-items: center;
    gap: 1em;
    color: var(--white-clr);
    font-weight: bold;
    position: sticky;
    top: 0;
    transition: box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.501);
    padding: 1em 1.6em;
}

.bottom-sidebar-item-header:hover,
.bottom-sidebar-item-header:focus {
    color: white;
    transition-property: color;
    transition-duration: .4s;
}

.bottom-sidebar-item-header i {
    font-size: 1.5em;
}

.scroll-wrapper {
    overflow-y: auto;
    position: relative;
}

.scroll-wrapper::-webkit-scrollbar {
    width: .6em;
}

.scroll-wrapper::-webkit-scrollbar-track {
    background: transparent;
}

.scroll-wrapper::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.279)
}

.scroll-wrapper::-webkit-scrollbar-thumb:hover {
    background-color: var(--white-clr)
}

.playlist-options {
    display: flex;
    justify-content: space-between;
    padding: 1em 1.6em;
    color: var(--white-clr);
}

.playlist-options .search-icon i {
    padding: .5em;
    cursor: pointer;
}

.playlist-options .search-icon i:hover {
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.164);
    color: white;
    transition-property: background-color;
    transition-duration: .4s;
}

.sort-option {
    padding-top: .1em;
}

.sort-option span {
    margin-inline-end: .3em;
    padding-top: 0;
    font-size: .9em;
    cursor: pointer;
}

.sort-option i {
    padding-top: .18em;
}

.sort-option .align-center {
    display: flex;
}

.sort-option .align-center:hover {
    color: white;
    font-size: 1.01em;
}

.sort-submenu {
    display: none;
    background-color: #282828;
    border-radius: .5em;
    height: 6;
    padding: .8em;
    position: absolute;
    top: 1em;
    right: 1em;
    width: 8em;
}

.sort-submenu h5 {
    font-size: .6em;
    padding-bottom: 1em;
}

.sort-submenu .options .selected {
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    font-size: 1em;
}

.options {
    font-weight: bold;
    font-size: 1em;
}

.options li {
    font-size: .8em;
    padding-bottom: .8em;
}

.song-container {
    padding: 0 1em;
}

.songs-ul {
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.songs-ul .active {
    background-color: rgba(255, 255, 255, 0.262);
}

.songs-ul li:hover {
    background-color: rgba(255, 255, 255, 0.164);
    transition: background-color .4s ease-in;
}

.songs-ul .active .song-title {

    text-shadow: 1px 1px 3px #121212;
}

.songs-ul li {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    border-radius: .5em;
    padding: .5em;
    cursor: pointer;
}

.songs-ul li img {
    background-size: cover;
    aspect-ratio: 1;
    width: 40px;
    border-radius: .5em;
    grid-column: 1/2;
}

.song-title,
.song-artist {
    display: block;
}

.songs-ul .song-title {
    color: white;
    font-weight: bold;
}

.songs-ul .song-artist {
    font-size: .9em;
    color: var(--white-clr);
}

.songs-ul .favourite-icon {
    color: var(--white-clr);
}

.favourite-icon .fa-solid {
    color: var(--secondary-clr);
}

.bottom-grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    padding: 0 1.4em;
    max-height: 80px;
    align-items: center;
    padding-right: .5em;
}

.currently-playing-song {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    border-radius: .5em;
    padding: .5em;
    grid-gap: .5em;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.currently-playing-song .favourite-icon {
    color: var(--white-clr);
    cursor: pointer;
}

.currently-playing-song .favourite-icon:hover {
    color: var(--secondary-clr);
}

.currently-playing-song img {
    background-size: cover;
    aspect-ratio: 1;
    width: 50px;
}

.currently-playing-song .song-title {
    color: white;
    font-weight: bold;
}

.currently-playing-song .song-artist {
    font-size: .9em;
    color: var(--white-clr);
}

.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}

.audio-player-controls {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 100%;
}

.progress-container {
    background: rgba(255, 255, 255, 0.284);
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
    height: 5px;
    width: 60%;
}

.progress {
    background-color: white;
    border-radius: 5px;
    height: 100%;
    width: 0%;
    transition: width 0.1s linear;
    position: relative;
}

.progress-container:hover .progress {
    background-color: var(--secondary-clr);

}

.progress-container:hover .progress::after {
    content: '';
    position: absolute;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background: var(--secondary-clr);
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}

.mini-audio-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: var(--white-clr);
    gap: 1em;
}

.current-time,
.duration {
    font-size: 0.8em;
    font-weight: bold;
}

.controls {
    display: flex;
    align-items: center;
    gap: 15px;
}

.controls .shuffle,
.controls .repeat {
    color: var(--white-clr);
    font-size: .8em;
}

.controls .shuffle:hover,
.controls .repeat:hover {
    color: var(--secondary-clr)
}

.controls .next,
.controls .prev {
    font-size: 1em;
    color: white;
}

.controls .play {
    font-size: 1.8em;
    color: white;
}

.audio-player-controls .action-btn {
    background: none;
    border: none;
    cursor: pointer;
    transition: color 0.3s ease;
}

.action-btn:hover {
    color: var(--secondary-clr);
}

.action-btn:focus {
    outline: none;
}

.fa-backward-step,
.fa-forward-step,
.fa-repeat {
    font-size: 1.2em;
}

.lyrics-volume-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--white-clr);
    padding: 0 10px;
    border-radius: 10px;
    background-color: var(--primary-clr);
    height: 90%;
}

.lyrics-music-icon:hover {
    cursor: pointer;
}

.lyrics-music-icon:hover::after {
    content: 'Lyrics';
    color: white;
}

.lyrics-music-icon,
.volume-control {
    display: flex;
    align-items: center;
    gap: 10px;
}

.lyrics-music-icon i,
.volume-icon i {
    font-size: 1em;
}

.volume-slider {
    width: 100px;
    -webkit-appearance: none;
    appearance: none;
    height: 3px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.3);
}

.volume-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: var(--secondary-clr);
    cursor: pointer;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

.volume-slider::-moz-range-thumb {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: var(--secondary-clr);
    cursor: pointer;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

/* Hero container styling */
.hero-container {
    padding: 1em;
    overflow: auto;
}

.navigation-btn {
    display: flex;
    width: 10%;
    justify-content: space-around;
}

.navigation-btn .btn {
    border-radius: 50%;
    color: var(--white-clr);
    background-color: rgba(0, 0, 0, 0.339);
    aspect-ratio: 1;
    width: 30px;
    height: 30px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.navigation-btn i {
    width: 100%;
    position: absolute;
    left: .5em;
    margin: 0 auto;
}

.hero-container .greeting-msg {
    font-size: 1.5em;
    font-weight: bold;
    color: white;
    padding: .4em;
    margin: .4em 0;
}

.recently-played,
.favorite-songs {
    padding: .4em;
}

.hero-container h2 {
    font-size: 1.1em;
    color: white;
    padding-bottom: 1em;
}

.swiper-wrapper {
    display: flex;
    flex-direction: row;
    padding-bottom: .3em;
}


.swiper-slide .song {
    display: flex;
    padding: .6em;
    padding-bottom: 2em;
    background-color: var(--primary-clr);
    height: 100%;
    box-shadow: 4px 4px 10px black;
    border-radius: .5em;
}

.swiper-slide .song:hover {
    background-color: rgba(0, 0, 0, 0.589);
    cursor: pointer;
    transition: all .4s ease;
}

.swiper-slide .song img {
    border-radius: .5em;
    height: 70%;
    margin-bottom: .5em;
}

.swiper-slide .song i {
    font-size: 1.5em;
    position: relative;
    padding: .45em;
    padding-top: .3em;
    width: 38px;
    height: 38px;
    background-color: var(--secondary-clr);
    border-radius: 50%;
    margin-bottom: .5em;
}

.swiper-slide .song i:hover {
    background-color: rgba(0, 0, 255, 0.487);
}

.swiper-slide .song-title {
    color: white;
    font-weight: bold;
}

.swiper-slide .song-artist {
    color: var(--white-clr);
    font-size: .8em;
    margin-bottom: .3em;
}

.swiper-slide .play {
    display: flex;
    justify-content: flex-end;
}