@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');


:root {
    --primary-clr: #121212;
    --secondary-clr: rgb(33, 4, 167);
    --tertiary-clr: #000000;
    --white-clr: rgba(255, 255, 255, 0.701);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

body {
    font-family: 'Lato', sans-serif;
    height: 100vh;
    background-color: var(--tertiary-clr);
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.header-container {
    display: flex;
    justify-content: space-around;
    background-color: var(--primary-clr);
    padding: .5em;
    border-radius: 0 0 1em 1em;
}

.header-container a {
    color: white;
}

.header-container a:hover {
    color: var(--secondary-clr);
    transition: color .4s ease-out;
}

.header-container .logo {
    background: linear-gradient(to left, rgb(112, 111, 120), rgb(17, 21, 53), var(--secondary-clr));
    border-radius: .5em;
    padding: .2em;
}

.header-container .logo a:hover {
    color: var(--white-clr);
}

.header-container h2 {
    font-weight: 700;
}

.header-container .social-links {
    display: flex;
    gap: 2em;
    font-size: 1.2em;
}

.main-grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: .5em;
    grid-gap: .6em;
}

.sidebar-container {
    grid-column: 1/2;
    grid-row: 1/2;
    display: grid;
    grid-template-rows: .5fr 1fr 1fr 1fr;
    grid-gap: .7em;
    height: 70vh;
}

.sidebar-container>* {
    background-color: var(--primary-clr);
}

.hero-container {
    grid-column: 2/4;
    grid-row: 1/2;
    background-color: var(--primary-clr);
    border-radius: .5em;
    max-height: 70vh;
}

.top-sidebar-item {
    grid-row: 1/2;
    border-radius: .5em;
    padding: 1.3em;
}

.top-sidebar-ul {
    display: flex;
    gap: 2em;
    flex-direction: column;
}

.top-sidebar-ul a {
    display: block;
    font-weight: bold;
    font-size: .9em;
    color: white;
}

.top-sidebar-ul a:hover {
    color: rgba(255, 255, 255, 0.701);
    transition-property: color;
    transition-duration: .4s;
}

.top-sidebar-ul i {
    margin-inline-end: 1em;
    font-size: 1.3em;
}

.bottom-sidebar-item {
    border-radius: .5em;
    grid-row: 2/5;
    display: flex;
    flex-direction: column;
}

.bottom-sidebar-item-header {
    display: flex;
    align-items: center;
    gap: 1em;
    color: var(--white-clr);
    font-weight: bold;
    position: sticky;
    top: 0;
    transition: box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.501);
    padding: 1em 1.6em;
}

.bottom-sidebar-item-header:hover,
.bottom-sidebar-item-header:focus {
    color: white;
    transition-property: color;
    transition-duration: .4s;
}

.bottom-sidebar-item-header i {
    font-size: 1.5em;
}

.scroll-wrapper {
    overflow-y: auto;
    position: relative;
}

.scroll-wrapper::-webkit-scrollbar {
    width: .8em;
}

.scroll-wrapper::-webkit-scrollbar-track {
    background: transparent;
}

.scroll-wrapper::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.279)
}

.scroll-wrapper::-webkit-scrollbar-thumb:hover {
    background-color: var(--white-clr)
}

.playlist-options {
    display: flex;
    justify-content: space-between;
    padding: 1em 1.6em;
    color: var(--white-clr);
}

.playlist-options .search-icon i {
    padding: .5em;
    cursor: pointer;
}

.playlist-options .search-icon i:hover {
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.164);
    color: white;
    transition-property: background-color;
    transition-duration: .4s;
}

.sort-option {
    padding-top: .1em;
}

.sort-option span {
    margin-inline-end: .3em;
    padding-top: 0;
    font-size: .9em;
    cursor: pointer;
}

.sort-option i {
    padding-top: .18em;
}

.sort-option .align-center {
    display: flex;
}

.sort-option .align-center:hover {
    color: white;
    font-size: 1.01em;
}

.sort-submenu {
    display: none;
    background-color: #282828;
    border-radius: .5em;
    height: 6;
    padding: .8em;
    position: absolute;
    top: 1em;
    right: 1em;
    width: 8em;
}

.sort-submenu h5 {
    font-size: .6em;
    padding-bottom: 1em;
}

.sort-submenu .options .selected {
    color: var(--secondary-clr);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.options {
    font-weight: bold;
}

.options li {
    font-size: .8em;
    padding-bottom: .8em;
}

.song-container {
    padding: 0 1em;
}

.songs-ul {
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.songs-ul .active {
    background-color: rgba(255, 255, 255, 0.262);
}

.songs-ul li:hover {
    background-color: rgba(255, 255, 255, 0.164);
    transition: background-color .4s ease-in;
}

.songs-ul .active .song-title {
    color: var(--secondary-clr);
}

.songs-ul li {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    border-radius: .5em;
    padding: .5em;
    cursor: pointer;
}

.songs-ul li img {
    background-size: cover;
    aspect-ratio: 1;
    width: 40px;
    border-radius: .5em;
    grid-column: 1/2;
}

.songs-ul .song-title,
.songs-ul .song-artist {
    display: block;
}

.songs-ul .song-title {
    color: white;
    font-weight: bold;
}

.songs-ul .song-artist {
    font-size: .9em;
    color: var(--white-clr);
}

.songs-ul .favourite-icon {
    color: var(--secondary-clr);
}

.bottom-grid-container {
    /* height: 14vh; */
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    padding: 1em 1.4em;
}

.currently-playing-song {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    border-radius: .5em;
    padding: .5em;
    grid-gap: .5em;
    justify-content: center;
    align-items: center;
}

.currently-playing-song .song-title,
.currently-playing-song .song-artist {
    display: block;
}

.currently-playing-song img {
    background-size: cover;
    aspect-ratio: 1;
    width: 50px;
}

.currently-playing-song .song-title {
    color: white;
    font-weight: bold;
}

.currently-playing-song .song-artist {
    font-size: .9em;
    color: var(--white-clr);
}

.bottom-grid-container i {
    color: var(--secondary-clr);
    cursor: pointer;
}

.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}

.audio-player-controls {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.progress-container {
    width: 50%;
    height: 4px;
    background-color: white;
    position: relative;
    cursor: pointer;
    border-radius: 4px;
}

.progress {
    position: absolute;
    top: 0;
    left: 0;
    appearance: none;
    width: 100%;
    height: 100%;
    background: white;
    border-radius: 4px;
    cursor: pointer;
}

.progress::-webkit-slider-thumb {
    appearance: none;
    background-color: var(--secondary-clr);
    width: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 5px solid white;
    box-shadow: 0 5px 5px rgba(9, 46, 192, 0.22);
}

.mini-audio-controls {
    display: flex;
}

.mini-audio-controls span {
    color: var(--white-clr);
}